body{
    margin: 0;
    font: 14px 'Hind Vadodara', sans-serif;
}

html, body{
    height: 100%;
}

a, a:hover, a:active, a:visited{
    color: inherit;
    text-decoration: inherit;
}

.container{
    height: calc(100% - 140px);
    width: 100%;
    position: relative;
}