#content{
    border: 1px solid #31B0D5;
    position: absolute;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
}

#overview, #chart{
    width: 100%;
    height: 100%;
    display: none;
}